<h1>About this website</h1>
<p>Website was created by Olivier Magny during the Bloc web development course</p>
<div class="btn-group" role="group" aria-label="...">
  <button type="button" class="btn btn-default"><%= link_to "Facebook", "https://www.facebook.com/omagny" %></button>
  <button type="button" class="btn btn-default"><%= link_to "Linkedin", "https://www.linkedin.com/in/oliviermagny?" %></button>
  <button type="button" class="btn btn-default"><%= link_to "Github", "https://github.com/olivermag" %></button>
</div>
